<h1> Here is the information for this blog post: </h1>

<%= "Title: #{@blog.title}" %></br>
<%= "Author: #{@blog.author}" %></br>
<%= "Body: #{@blog.body}" %>

<h3><%= link_to "Select another post.", root_path %> </h3>