<h1> Here is your selected movie's information: </h1>

<%= "Title: #{@movie.title}" %> <br>
<%= "Year: #{@movie.year}" %> <br>
<%= "Director: #{@movie.director}" %> <br>

<h3> <%= link_to "Select a new movie", root_path %></h3>